@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
  --primary-color: #4cc9f0;
  --secondary-color: #4361ee;
  --accent1-color: #3a0ca3;
  --accent2-color: #7209b7;

  --heading-font: serif;
  --paragraph-font: georgia, serif;

  --nav-background-color: #26E0B7;
  --nav-link-color: #0F98D2;
  --nav-hover-link-color: #386FB7;
  --nav-hover-background-color: #3644C1;
}


body {
  max-width: 450px;
  font-family: var(--heading-font);
}

form {
    display: grid;
    grid-template-columns: 100%;
    border: 1px solid #BBB;
    background-color: #DDD;
    padding: 10px;
}

h1 {
    font-family: var(--paragraph-font);
    font-weight: bold;
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: navy;
}

.input {
  margin-bottom: 15px;
  padding: 4px;
}

.quiz-container {
  margin-top: 2px;
  margin-bottom: 2px;
  height: 30px;
}

p{
  background-color: black;
  color: white;
  padding: 10px;
}

.question {
    margin-bottom: 10px;
}

#submit-button {
  padding: 20px 0;
  font-size: 1.2em;
  font-weight: bold;
  background-color: cornflowerblue;
  color: white;
  border: 1px solid #CCC;
  border-radius: 25px;
  cursor: pointer;
}