* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

nav {
    background-color: #08025c;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 7px;
    text-decoration: none;
}

h1 {
    color: steelblue;
    text-align: center;
    padding: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {padding: 18px;}

main {
    max-width: 840px;
}


aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

main img {
    float: right;
    top: 60px;
    left: 150px;
    margin: 0 0 10px 15px
}

aside h2 {
    position: absolute;
    top: 450px;
    right: 655px;
}
