* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

nav {
    background-color: #4cc9f0;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {padding: 0;}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

main img {
    float: right;
    position: relative;
    top: 60;
    left: 150;
}

aside h2 {
    position: absolute;
    top: 100;
    left: 60;
}

main h1 {
    text-align: center;
}